In [2]:
import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.feature_extraction import DictVectorizer

import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn import linear_model

from sklearn.feature_extraction.text import TfidfTransformer

from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

## analysis and modeling 1

In [4]:
train      = pd.read_csv("data/train.csv")
test       = pd.read_csv("data/test.csv")
submission = pd.read_csv("data/Sample_Submission_Tm9Lura.txt")

In [5]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [7]:
dataframe = pd.concat([train, test])
dataframe.shape

(783667, 12)

In [9]:
dataframe.head()

,Age,City_Category,Gender,Marital_Status,Occupation,Product_Category_1,Product_Category_2,Product_Category_3,Product_ID,Purchase,Stay_In_Current_City_Years,User_ID
0,0-17,A,F,0,10,3,NaN,NaN,P00069042,8370.0,2,1000001
1,0-17,A,F,0,10,1,6.0,14.0,P00248942,15200.0,2,1000001
2,0-17,A,F,0,10,12,NaN,NaN,P00087842,1422.0,2,1000001
3,0-17,A,F,0,10,12,14.0,NaN,P00085442,1057.0,2,1000001
4,55+,C,M,0,16,8,NaN,NaN,P00285442,7969.0,4+,1000002

In [8]:
dataframe.dtypes

Age                            object
City_Category                  object
Gender                         object
Marital_Status                  int64
Occupation                      int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Product_ID                     object
Purchase                      float64
Stay_In_Current_City_Years     object
User_ID                         int64
dtype: object

In [12]:
target = np.array(dataframe.Purchase)

In [13]:
dataframe.drop(["Purchase"], axis=1, inplace=True)

In [17]:
dataframe.dtypes

Age                           object
City_Category                 object
Gender                        object
Marital_Status                object
Occupation                    object
Product_Category_1            object
Product_Category_2            object
Product_Category_3            object
Product_ID                    object
Stay_In_Current_City_Years    object
User_ID                       object
dtype: object

In [14]:
#convert all columns to string and apply labelencoder
dataframe = dataframe.applymap(str)
df = dataframe.copy()
dataset = np.array(dataframe)
for i in range(dataframe.shape[1]):
    lbl = preprocessing.LabelEncoder()
    lbl.fit(list(dataset[:,i]))
    dataset[:, i] = lbl.transform(dataset[:, i])

In [16]:
dataset.shape

(783667, 11)

In [18]:
dataset[0]

array([0, 0, 0, 0, 2, 13, 17, 15, 684, 2, 0], dtype=object)

In [19]:
dataset = dataset.astype(int)

In [20]:
# xgboost 1
params = {}
params["min_child_weight"] = 10
params["subsample"] = 0.7
params["colsample_bytree"] = 0.7
params["scale_pos_weight"] = 0.8
params["silent"] = 1
params["max_depth"] = 6
params["nthread"] = 6
#params["gamma"] = 1
params["objective"] = "reg:linear"
params["eta"] = 0.1
params["base_score"] = 1800
params["eval_metric"] = "rmse"
params["seed"] = 0

plst = list(params.items())
num_rounds = 3000

In [22]:
params.items()

dict_items([('min_child_weight', 10), ('subsample', 0.7), ('colsample_bytree', 0.7), ('scale_pos_weight', 0.8), ('silent', 1), ('max_depth', 6), ('nthread', 6), ('objective', 'reg:linear'), ('eta', 0.1), ('base_score', 1800), ('eval_metric', 'rmse'), ('seed', 0)])

In [23]:
xgtrain = xgb.DMatrix(dataset[:train.shape[0],:], label=target[:train.shape[0]])
watchlist = [(xgtrain, 'train')]
model_1_xgboost = xgb.train(plst, xgtrain, num_rounds)

In [25]:
model_1_predict = model_1_xgboost.predict(xgb.DMatrix(dataset[train.shape[0]:,:]))

In [30]:
model_1_predict[model_1_predict<0] = 25
submission.Purchase = model_1_predict
#submission.to_csv("../submission/submit_13.csv", index=False)

## analysis and modeling 2

In [51]:
res = train['User_ID'].value_counts().items()

In [52]:
dict_IDCount = {}
for i in res:
    dict_IDCount[i[0]] = i[1]

In [59]:
dict_IDCount

{1001680: 1026,
 1004277: 979,
 1001941: 898,
 1001181: 862,
 1000889: 823,
 1003618: 767,
 1001150: 752,
 1001015: 740,
 1005795: 729,
 1005831: 727,
 1002909: 718,
 1001449: 714,
 1002063: 709,
 1004344: 705,
 1003391: 698,
 1003841: 698,
 1000424: 694,
 1004510: 691,
 1001980: 685,
 1001088: 680,
 1004227: 676,
 1003808: 671,
 1004508: 651,
 1000549: 632,
 1003224: 622,
 1003539: 617,
 1005367: 612,
 1001285: 606,
 1004543: 588,
 1003824: 584,
 1004448: 575,
 1001010: 575,
 1005643: 573,
 1000752: 572,
 1001448: 570,
 1003032: 568,
 1004447: 560,
 1000678: 559,
 1004064: 558,
 1001605: 558,
 1000524: 558,
 1005954: 557,
 1001912: 549,
 1000550: 549,
 1003526: 547,
 1004725: 544,
 1002116: 538,
 1003311: 537,
 1001447: 533,
 1003778: 533,
 1003507: 530,
 1001880: 529,
 1000881: 527,
 1004808: 524,
 1001019: 517,
 1006036: 514,
 1006016: 504,
 1003292: 502,
 1004425: 501,
 1000710: 500,
 1004647: 499,
 1005812: 499,
 1004979: 498,
 1000869: 497,
 1002106: 497,
 1004312: 496,
 1002820: 495,
 1005046: 494,
 1002304: 494,
 1001647: 493,
 1003675: 493,
 1003626: 492,
 1000531: 490,
 1003792: 488,
 1000352: 487,
 1001051: 486,
 1002777: 486,
 1003067: 486,
 1002015: 485,
 1004041: 485,
 1005636: 482,
 1002907: 479,
 1005100: 479,
 1001958: 477,
 1002181: 476,
 1002665: 476,
 1005111: 475,
 1005394: 475,
 1005333: 472,
 1003471: 472,
 1001676: 471,
 1004386: 471,
 1004238: 469,
 1005256: 467,
 1000195: 467,
 1003401: 467,
 1005026: 465,
 1005788: 465,
 1002793: 461,
 1005627: 460,
 1002507: 458,
 1003272: 458,
 1001733: 457,
 1000302: 454,
 1001383: 453,
 1004085: 453,
 1003829: 451,
 1001340: 451,
 1003029: 451,
 1002529: 450,
 1003705: 449,
 1004482: 448,
 1000329: 447,
 1001203: 447,
 1001737: 446,
 1001579: 444,
 1003650: 444,
 1001632: 439,
 1004021: 439,
 1005387: 438,
 1000482: 437,
 1002857: 436,
 1001317: 436,
 1001835: 436,
 1000839: 435,
 1000245: 435,
 1001613: 435,
 1001837: 433,
 1001117: 431,
 1004083: 430,
 1000216: 430,
 1000770: 428,
 1001425: 428,
 1005074: 427,
 1001635: 426,
 1005880: 425,
 1004048: 423,
 1000319: 420,
 1005605: 419,
 1004140: 418,
 1001899: 417,
 1004682: 417,
 1005312: 417,
 1004957: 416,
 1004728: 414,
 1004387: 413,
 1002544: 412,
 1002109: 412,
 1003308: 411,
 1002010: 411,
 1001422: 409,
 1001884: 409,
 1005054: 409,
 1000509: 407,
 1001266: 407,
 1003410: 407,
 1002092: 406,
 1003999: 405,
 1001264: 405,
 1003491: 405,
 1001120: 402,
 1005763: 400,
 1001470: 400,
 1003821: 393,
 1001451: 393,
 1003610: 393,
 1004089: 392,
 1003768: 392,
 1004579: 391,
 1003562: 391,
 1002986: 391,
 1003483: 391,
 1005220: 390,
 1001741: 389,
 1003589: 389,
 1005433: 388,
 1004732: 387,
 1001354: 386,
 1000984: 385,
 1003476: 385,
 1005511: 383,
 1004305: 383,
 1004016: 382,
 1001812: 382,
 1003312: 379,
 1003681: 379,
 1000202: 379,
 1001303: 379,
 1004033: 378,
 1002878: 378,
 1003519: 378,
 1005916: 378,
 1001112: 377,
 1000053: 377,
 1003884: 372,
 1001943: 371,
 1003280: 371,
 1001926: 370,
 1001194: 367,
 1003336: 367,
 1004054: 366,
 1005530: 365,
 1004354: 364,
 1002934: 363,
 1005550: 363,
 1001897: 362,
 1001671: 362,
 1001242: 362,
 1003285: 360,
 1000411: 359,
 1000721: 358,
 1003934: 357,
 1002124: 357,
 1001764: 357,
 1000877: 356,
 1003475: 355,
 1001889: 355,
 1002073: 355,
 1001069: 355,
 1001988: 355,
 1000731: 354,
 1000123: 352,
 1004802: 352,
 1003823: 352,
 1004867: 351,
 1003842: 351,
 1005107: 350,
 1004186: 349,
 1002962: 348,
 1005015: 348,
 1001274: 347,
 1003929: 347,
 1003018: 346,
 1000543: 346,
 1001465: 346,
 1003648: 346,
 1005306: 345,
 1001125: 344,
 1005682: 344,
 1005536: 343,
 1002453: 343,
 1000692: 343,
 1003885: 343,
 1001298: 342,
 1003693: 342,
 1001780: 342,
 1001068: 341,
 1005888: 341,
 1002030: 340,
 1000331: 340,
 1001920: 340,
 1000148: 339,
 1005878: 339,
 1000855: 339,
 1002012: 338,
 1003182: 338,
 1001224: 338,
 1001748: 338,
 1000048: 338,
 1003942: 337,
 1001246: 337,
 1004411: 336,
 1002887: 335,
 1000149: 334,
 1005964: 334,
 1004658: 331,
 1005504: 331,
 1005759: 330,
 1005996: 329,
 1005011: 329,
 1000533: 325,
 1001496: 325,
 1000438: 322,
 1000308: 322,
 1003683: 322,
 1003389: 322,
 1004345: 321,
 1005675: 321,
 1001701: 320,
 1001675: 318,
 1002537: 317,
 1001587: 316,
 1001749: 316,
 1003724: 316,
 1000173: 315,
 1005747: 315,
 1003576: 315,
 1001611: 315,
 1000169: 313,
 1004819: 313,
 1003080: 312,
 1001778: 312,
 1000911: 312,
 1002041: 312,
 1004007: 312,
 1003462: 312,
 1001017: 312,
 1005555: 310,
 1003320: 310,
 1003834: 310,
 1005501: 309,
 1005493: 308,
 1004271: 308,
 1004028: 307,
 1005329: 307,
 1005837: 307,
 1005824: 307,
 1005522: 307,
 1002967: 306,
 1001983: 306,
 1002419: 306,
 1003118: 306,
 1001639: 305,
 1002484: 305,
 1001059: 305,
 1001599: 304,
 1001645: 304,
 1002203: 304,
 1004285: 303,
 1001969: 303,
 1004607: 302,
 1004673: 300,
 1001501: 300,
 1003054: 299,
 1001137: 299,
 1004053: 299,
 1004506: 299,
 1001333: 299,
 1001377: 299,
 1001101: 298,
 1005686: 298,
 1001050: 297,
 1002105: 296,
 1002496: 296,
 1001244: 296,
 1000780: 295,
 1005738: 295,
 1005317: 295,
 1004578: 295,
 1000802: 295,
 1000850: 294,
 1000225: 293,
 1003945: 292,
 1005163: 292,
 1005359: 291,
 1000854: 291,
 1002895: 291,
 1002638: 291,
 1002402: 291,
 1003261: 291,
 1003916: 290,
 1003031: 290,
 1002223: 290,
 1005755: 289,
 1001851: 289,
 1003807: 289,
 1004948: 288,
 1001727: 288,
 1001974: 287,
 1003518: 287,
 1001962: 287,
 1000970: 287,
 1003108: 287,
 1003265: 286,
 1001128: 286,
 1005113: 286,
 1002288: 286,
 1000461: 286,
 1004408: 286,
 1000192: 285,
 1003892: 285,
 1002102: 284,
 1002753: 283,
 1004115: 283,
 1001260: 283,
 1000151: 283,
 1000117: 283,
 1000934: 283,
 1003416: 283,
 1004771: 283,
 1002457: 282,
 1000566: 282,
 1000651: 282,
 1000062: 282,
 1005684: 282,
 1003180: 281,
 1004715: 281,
 1001667: 281,
 1006000: 281,
 1003878: 281,
 1004167: 281,
 1003825: 280,
 1003963: 280,
 1003836: 280,
 1005689: 280,
 1000272: 280,
 1001202: 279,
 1001100: 279,
 1005070: 278,
 1004058: 277,
 1004480: 276,
 1003503: 275,
 1001584: 275,
 1001297: 275,
 1000264: 275,
 1000284: 275,
 1004279: 274,
 1001712: 274,
 1003371: 274,
 1001284: 273,
 1002761: 273,
 1002088: 273,
 1004352: 272,
 1000163: 271,
 1003569: 271,
 1005539: 271,
 1002020: 271,
 1005886: 271,
 1000777: 271,
 1001356: 270,
 1002376: 270,
 1002627: 270,
 1003313: 269,
 1003641: 269,
 1004335: 269,
 1003189: 269,
 1001004: 269,
 1002205: 268,
 1000235: 268,
 1003425: 268,
 1000392: 268,
 1001968: 267,
 1002996: 267,
 1001164: 267,
 1001842: 267,
 1002860: 267,
 1000757: 267,
 1003940: 266,
 1004079: 266,
 1001141: 266,
 1004497: 264,
 1004472: 264,
 1003620: 264,
 1001489: 264,
 1004591: 264,
 1005950: 263,
 1004318: 262,
 1000588: 262,
 1005621: 261,
 1000058: 261,
 1001172: 261,
 1004823: 261,
 1003129: 261,
 1003469: 260,
 1002643: 259,
 1003771: 259,
 1005153: 258,
 1003727: 258,
 1000702: 258,
 1003499: 258,
 1004958: 257,
 1003380: 257,
 1004388: 257,
 1002164: 257,
 1003992: 257,
 1000412: 255,
 1002946: 255,
 1005090: 254,
 1001861: 254,
 1005172: 254,
 1004381: 254,
 1003847: 254,
 1004879: 254,
 1004422: 253,
 1003669: 252,
 1002592: 252,
 1000749: 251,
 1000355: 251,
 1004950: 251,
 1002018: 251,
 1001628: 250,
 1002899: 250,
 1003729: 249,
 1003013: 249,
 1004489: 248,
 1002172: 248,
 1002611: 248,
 1003590: 247,
 1000204: 246,
 1004964: 246,
 1003713: 246,
 1001306: 246,
 1001922: 245,
 1000746: 245,
 1000442: 245,
 1002841: 244,
 1004022: 244,
 1000187: 244,
 1005848: 243,
 1002383: 243,
 1003512: 243,
 1003762: 243,
 1003201: 243,
 1000669: 243,
 1004042: 242,
 1001389: 242,
 1005005: 242,
 1004088: 242,
 1002231: 242,
 1002237: 242,
 1005972: 242,
 1004161: 241,
 1004473: 241,
 1003191: 240,
 1001794: 240,
 1000796: 240,
 1000714: 240,
 1005744: 239,
 1003509: 239,
 1005492: 239,
 1000963: 239,
 1002743: 238,
 1000146: 238,
 1001752: 238,
 1005077: 238,
 1001883: 237,
 1004478: 237,
 1001717: 237,
 1003051: 237,
 1001758: 237,
 1002581: 236,
 1004458: 236,
 1005787: 236,
 1003967: 236,
 1001685: 236,
 1004001: 236,
 1004055: 235,
 1001211: 235,
 1004116: 235,
 1001329: 235,
 1004446: 234,
 1002380: 234,
 1001119: 234,
 1005854: 234,
 1002188: 233,
 1001586: 233,
 1001087: 233,
 1004887: 233,
 1002810: 232,
 1003208: 232,
 1002854: 232,
 1000999: 231,
 1004784: 231,
 1002225: 231,
 1003756: 231,
 1005749: 231,
 1001757: 231,
 1002928: 231,
 1002737: 230,
 1000975: 230,
 1001322: 230,
 1003521: 230,
 1005319: 230,
 1000476: 230,
 1004517: 230,
 1003690: 229,
 1003557: 229,
 1002180: 229,
 1005978: 228,
 1002038: 228,
 1002872: 228,
 1001755: 228,
 1001600: 228,
 1005567: 228,
 1001124: 227,
 1002446: 227,
 1000817: 227,
 1000655: 227,
 1001836: 227,
 1004884: 227,
 1005458: 227,
 1001776: 227,
 1000453: 227,
 1000136: 227,
 1001369: 227,
 1002251: 227,
 1000026: 226,
 1003546: 225,
 1005717: 225,
 1002796: 225,
 1005443: 225,
 1004897: 225,
 1003850: 224,
 1001530: 224,
 1003900: 224,
 1004653: 224,
 1005271: 224,
 1000092: 223,
 1003430: 223,
 1003769: 223,
 1002436: 223,
 1004150: 223,
 1001666: 223,
 1002489: 223,
 1005580: 223,
 1001146: 223,
 1000010: 223,
 1005468: 222,
 1002340: 222,
 1004904: 222,
 1005847: 222,
 1005140: 222,
 1000676: 221,
 1003464: 221,
 1001694: 221,
 1005948: 221,
 1004663: 220,
 1004379: 220,
 1002752: 220,
 1003259: 220,
 1001916: 220,
 1005364: 220,
 1001687: 219,
 1001726: 219,
 1000261: 218,
 1005205: 218,
 1004213: 218,
 1004322: 218,
 1003716: 218,
 1000326: 218,
 1002888: 218,
 1004404: 218,
 1000166: 217,
 1004790: 217,
 1000157: 217,
 1005428: 217,
 1002847: 217,
 1000639: 217,
 1003592: 217,
 1002994: 216,
 1002918: 216,
 1005475: 216,
 1003300: 216,
 1001426: 216,
 1000033: 216,
 1005000: 216,
 1005131: 215,
 1004217: 215,
 1005779: 215,
 1005108: 215,
 1000673: 215,
 1000765: 214,
 1004535: 214,
 1004490: 214,
 1004626: 214,
 1001658: 213,
 1003751: 212,
 1003227: 212,
 1000624: 212,
 1000601: 212,
 1004786: 212,
 1000735: 211,
 1002098: 211,
 1002279: 210,
 1002929: 210,
 1001053: 210,
 1005722: 210,
 1003422: 210,
 1004995: 210,
 1004258: 209,
 1003367: 209,
 1004183: 209,
 1004796: 209,
 1002456: 209,
 1004708: 209,
 1002590: 208,
 1002271: 208,
 1000922: 208,
 1000198: 208,
 1000949: 208,
 1004049: 208,
 1003082: 208,
 1001182: 207,
 1002153: 207,
 1000199: 207,
 1005448: 207,
 1001243: 207,
 1004139: 207,
 1001998: 206,
 1004637: 206,
 1005955: 206,
 1003957: 206,
 1003679: 206,
 1005039: 206,
 1000429: 206,
 1001173: 206,
 1001556: 205,
 1002926: 205,
 1005042: 205,
 1003773: 205,
 1003621: 205,
 1001697: 204,
 1003394: 204,
 1000301: 204,
 1000338: 203,
 1003726: 203,
 1003550: 203,
 1003600: 203,
 1004062: 203,
 1004156: 203,
 1004611: 203,
 1001273: 202,
 1003217: 202,
 1000937: 202,
 1003140: 202,
 1005523: 202,
 1001609: 201,
 1005397: 201,
 1005767: 201,
 1004748: 201,
 1002664: 201,
 1003971: 201,
 1005482: 201,
 1000637: 200,
 1000036: 200,
 1003993: 200,
 1002168: 200,
 1000587: 200,
 1005249: 199,
 1003454: 199,
 1005667: 199,
 1002258: 199,
 1001058: 199,
 1002995: 199,
 1001624: 198,
 1001546: 198,
 1003017: 198,
 1002334: 198,
 1005371: 198,
 1004488: 198,
 1000929: 198,
 1001790: 197,
 1001279: 197,
 1001904: 197,
 1005345: 197,
 1003081: 197,
 1003026: 196,
 1002016: 196,
 1005519: 196,
 1004107: 195,
 1005568: 195,
 1004666: 195,
 1001140: 195,
 1000563: 195,
 1001699: 194,
 1000368: 194,
 1002232: 194,
 1005269: 193,
 1001592: 193,
 1003709: 193,
 1003365: 192,
 1005852: 192,
 1004303: 192,
 1001404: 192,
 1005890: 191,
 1003125: 191,
 1001865: 191,
 1005161: 191,
 1004655: 191,
 1002776: 191,
 1002100: 190,
 1002941: 190,
 1003746: 190,
 1003998: 190,
 1005543: 190,
 1004126: 190,
 1003453: 190,
 1005720: 190,
 1002131: 189,
 1005841: 189,
 1004972: 189,
 1001265: 189,
 1003327: 189,
 1002054: 188,
 1002679: 188,
 1003301: 188,
 1000271: 188,
 1003411: 188,
 1004502: 188,
 1003547: 188,
 1004928: 187,
 1005698: 187,
 1001746: 187,
 1005047: 187,
 1000899: 187,
 1003624: 187,
 1003760: 187,
 1003985: 186,
 1002764: 186,
 1004406: 186,
 1004635: 185,
 1004268: 185,
 1005142: 185,
 1004086: 185,
 1004736: 185,
 1005874: 185,
 1000798: 185,
 1003997: 185,
 1003603: 184,
 1000791: 184,
 1002896: 184,
 1002583: 184,
 1002242: 184,
 1002840: 184,
 1003441: 184,
 1003715: 184,
 1000161: 184,
 1005156: 183,
 1003853: 183,
 1004253: 183,
 1005615: 183,
 1000687: 183,
 1002129: 183,
 1005282: 182,
 1001820: 182,
 1004829: 182,
 1006002: 182,
 1004918: 182,
 1002567: 181,
 1004837: 181,
 1005786: 181,
 1004675: 181,
 1001151: 181,
 1002807: 181,
 1003754: 181,
 1000631: 180,
 1000955: 180,
 1001113: 180,
 1006040: 180,
 1000018: 180,
 1003128: 180,
 1005184: 180,
 1004680: 180,
 1001696: 179,
 1005517: 179,
 1003314: 179,
 1000824: 179,
 1001516: 179,
 1001484: 179,
 1005222: 179,
 1003780: 179,
 1001875: 179,
 1005273: 179,
 1003558: 179,
 1005277: 179,
 1002411: 179,
 1005754: 178,
 1005450: 178,
 1004951: 178,
 1000919: 178,
 1001147: 178,
 1005112: 178,
 1004375: 178,
 1005576: 178,
 1005728: 178,
 1002748: 178,
 1004430: 177,
 1006010: 177,
 1000957: 177,
 1003110: 177,
 1003205: 177,
 1004593: 177,
 1005472: 177,
 1001077: 177,
 1003158: 176,
 1005283: 176,
 1004260: 176,
 1004310: 176,
 1005570: 176,
 1000293: 176,
 1001390: 176,
 1005794: 176,
 1004418: 175,
 1003887: 175,
 1004026: 175,
 1004704: 175,
 1002565: 175,
 1004250: 175,
 1006007: 175,
 1000474: 175,
 1004585: 175,
 1001086: 174,
 1001693: 174,
 1002645: 174,
 1000314: 174,
 1004726: 174,
 1003012: 174,
 1000346: 174,
 1002700: 173,
 1003859: 173,
 1003688: 173,
 1003414: 173,
 1003652: 173,
 1005961: 173,
 1004788: 173,
 1003087: 173,
 1002621: 173,
 1002641: 172,
 1004568: 172,
 1001505: 172,
 1003695: 172,
 1001542: 172,
 1001335: 172,
 1003816: 172,
 1001930: 172,
 1004869: 172,
 1000023: 171,
 1002264: 171,
 1004122: 171,
 1003001: 171,
 1001860: 171,
 1002185: 171,
 1003402: 171,
 1002454: 171,
 1000604: 171,
 1001767: 171,
 1004215: 171,
 1003423: 171,
 1000175: 171,
 1004520: 170,
 1000181: 170,
 1005300: 170,
 1001509: 170,
 1002303: 170,
 1004562: 170,
 1001301: 170,
 1004373: 170,
 1002913: 169,
 1005426: 169,
 1003965: 169,
 1000822: 169,
 1002786: 169,
 1000996: 169,
 1005699: 169,
 1001263: 169,
 1004933: 169,
 1000520: 168,
 1005250: 168,
 1004224: 168,
 1003717: 168,
 1002156: 168,
 1005990: 168,
 1002173: 168,
 1005103: 168,
 1005365: 168,
 1003328: 168,
 1003654: 168,
 1003735: 168,
 1004789: 168,
 1005087: 167,
 1004505: 167,
 1005321: 167,
 1000403: 167,
 1005634: 167,
 1005956: 167,
 1001420: 166,
 1000242: 166,
 1004112: 166,
 1005650: 166,
 1002774: 166,
 1003691: 166,
 1003299: 166,
 1003216: 166,
 1004261: 165,
 1002293: 165,
 1000801: 165,
 1002472: 165,
 1005811: 165,
 1000712: 165,
 1001591: 165,
 1002818: 165,
 1004009: 165,
 1003513: 165,
 1003770: 164,
 1001937: 164,
 1001753: 164,
 1003487: 164,
 1002900: 164,
 1002634: 164,
 1004451: 164,
 1002781: 164,
 1005239: 164,
 1003868: 163,
 1002624: 163,
 1000409: 163,
 1004470: 163,
 1001325: 163,
 1005654: 163,
 1001457: 163,
 1002389: 162,
 ...}

In [63]:
train['User_ID'][0]

1000001

In [61]:
dict_IDCount[train['User_ID']]

35

In [71]:
train['ID_count'] = train['User_ID'].apply(lambda x:dict_IDCount[x])

In [72]:
train

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,ID_count
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,35
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,35
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,35
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,35
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,77
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227,29
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215,14
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854,14
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686,14
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871,106
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254,106
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957,106
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073,106
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665,106
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378,47
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079,47
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055,47
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851,47
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788,17
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614,77
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584,77
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872,77
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743,77
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982,77
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927,77
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662,58
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887,58
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973,58
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391,58
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,C,2,1,20,NaN,NaN,596,103
550039,1005996,P00371644,F,26-35,0,B,1,1,20,NaN,NaN,595,329
550040,1005997,P00370853,F,26-35,7,A,3,0,19,NaN,NaN,26,29
550041,1006000,P00371644,M,46-50,17,B,2,1,20,NaN,NaN,488,281
550042,1006002,P00371644,M,51-55,0,C,1,1,20,NaN,NaN,243,182
550043,1006003,P00370293,F,46-50,17,C,1,0,19,NaN,NaN,48,150
550044,1006004,P00370853,F,26-35,15,C,2,0,19,NaN,NaN,62,34
550045,1006005,P00371644,F,26-35,5,C,2,1,20,NaN,NaN,252,50
550046,1006006,P00375436,F,0-17,0,C,1,0,20,NaN,NaN,236,69
550047,1006009,P00372445,F,26-35,12,C,3,0,20,NaN,NaN,244,32
550048,1006010,P00371644,M,36-45,0,C,1,0,20,NaN,NaN,591,177
550049,1006011,P00375436,M,36-45,15,C,3,0,20,NaN,NaN,473,105
550050,1006012,P00371644,M,36-45,15,C,4+,1,20,NaN,NaN,368,16
550051,1006013,P00375436,F,26-35,20,C,3,0,20,NaN,NaN,489,75
550052,1006016,P00375436,M,46-50,1,B,1,1,20,NaN,NaN,239,504
550053,1006017,P00371644,F,36-45,7,B,1,0,20,NaN,NaN,371,18
550054,1006018,P00370293,M,36-45,1,C,3,0,19,NaN,NaN,60,82
550055,1006019,P00372445,M,26-35,0,A,4+,0,20,NaN,NaN,238,54
550056,1006022,P00375436,M,26-35,17,C,4+,0,20,NaN,NaN,254,27
550057,1006023,P00370853,M,26-35,0,C,2,1,19,NaN,NaN,61,88
550058,1006024,P00372445,M,26-35,12,A,0,1,20,NaN,NaN,121,60
550059,1006025,P00370853,F,26-35,1,B,1,0,19,NaN,NaN,48,151
550060,1006026,P00371644,M,36-45,6,C,1,1,20,NaN,NaN,494,47
550061,1006029,P00372445,F,26-35,1,C,1,1,20,NaN,NaN,599,17
550062,1006032,P00372445,M,46-50,7,A,3,0,20,NaN,NaN,473,55
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368,36
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371,152
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137,514
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365,12
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490,74

In [74]:
train['Product_Category_1'].value_counts()

5     150933
1     140378
8     113925
11     24287
2      23864
6      20466
3      20213
4      11753
16      9828
15      6290
13      5549
10      5125
12      3947
7       3721
18      3125
20      2550
19      1603
14      1523
17       578
9        410
Name: Product_Category_1, dtype: int64

In [75]:
lbl = preprocessing.LabelEncoder()
lbl.fit(list(train.loc[:,'City_Category']))
train.loc[:, 'City_Category'] = lbl.transform(train.loc[:, 'City_Category'])

In [76]:
train

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,ID_count
0,1000001,P00069042,F,0-17,10,0,2,0,3,NaN,NaN,8370,35
1,1000001,P00248942,F,0-17,10,0,2,0,1,6.0,14.0,15200,35
2,1000001,P00087842,F,0-17,10,0,2,0,12,NaN,NaN,1422,35
3,1000001,P00085442,F,0-17,10,0,2,0,12,14.0,NaN,1057,35
4,1000002,P00285442,M,55+,16,2,4+,0,8,NaN,NaN,7969,77
5,1000003,P00193542,M,26-35,15,0,3,0,1,2.0,NaN,15227,29
6,1000004,P00184942,M,46-50,7,1,2,1,1,8.0,17.0,19215,14
7,1000004,P00346142,M,46-50,7,1,2,1,1,15.0,NaN,15854,14
8,1000004,P0097242,M,46-50,7,1,2,1,1,16.0,NaN,15686,14
9,1000005,P00274942,M,26-35,20,0,1,1,8,NaN,NaN,7871,106
10,1000005,P00251242,M,26-35,20,0,1,1,5,11.0,NaN,5254,106
11,1000005,P00014542,M,26-35,20,0,1,1,8,NaN,NaN,3957,106
12,1000005,P00031342,M,26-35,20,0,1,1,8,NaN,NaN,6073,106
13,1000005,P00145042,M,26-35,20,0,1,1,1,2.0,5.0,15665,106
14,1000006,P00231342,F,51-55,9,0,1,0,5,8.0,14.0,5378,47
15,1000006,P00190242,F,51-55,9,0,1,0,4,5.0,NaN,2079,47
16,1000006,P0096642,F,51-55,9,0,1,0,2,3.0,4.0,13055,47
17,1000006,P00058442,F,51-55,9,0,1,0,5,14.0,NaN,8851,47
18,1000007,P00036842,M,36-45,1,1,1,1,1,14.0,16.0,11788,17
19,1000008,P00249542,M,26-35,12,2,4+,1,1,5.0,15.0,19614,77
20,1000008,P00220442,M,26-35,12,2,4+,1,5,14.0,NaN,8584,77
21,1000008,P00156442,M,26-35,12,2,4+,1,8,NaN,NaN,9872,77
22,1000008,P00213742,M,26-35,12,2,4+,1,8,NaN,NaN,9743,77
23,1000008,P00214442,M,26-35,12,2,4+,1,8,NaN,NaN,5982,77
24,1000008,P00303442,M,26-35,12,2,4+,1,1,8.0,14.0,11927,77
25,1000009,P00135742,M,26-35,17,2,0,0,6,8.0,NaN,16662,58
26,1000009,P00039942,M,26-35,17,2,0,0,8,NaN,NaN,5887,58
27,1000009,P00161442,M,26-35,17,2,0,0,5,14.0,NaN,6973,58
28,1000009,P00078742,M,26-35,17,2,0,0,5,8.0,14.0,5391,58
29,1000010,P00085942,F,36-45,1,1,4+,1,2,4.0,8.0,16352,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,2,2,1,20,NaN,NaN,596,103
550039,1005996,P00371644,F,26-35,0,1,1,1,20,NaN,NaN,595,329
550040,1005997,P00370853,F,26-35,7,0,3,0,19,NaN,NaN,26,29
550041,1006000,P00371644,M,46-50,17,1,2,1,20,NaN,NaN,488,281
550042,1006002,P00371644,M,51-55,0,2,1,1,20,NaN,NaN,243,182
550043,1006003,P00370293,F,46-50,17,2,1,0,19,NaN,NaN,48,150
550044,1006004,P00370853,F,26-35,15,2,2,0,19,NaN,NaN,62,34
550045,1006005,P00371644,F,26-35,5,2,2,1,20,NaN,NaN,252,50
550046,1006006,P00375436,F,0-17,0,2,1,0,20,NaN,NaN,236,69
550047,1006009,P00372445,F,26-35,12,2,3,0,20,NaN,NaN,244,32
550048,1006010,P00371644,M,36-45,0,2,1,0,20,NaN,NaN,591,177
550049,1006011,P00375436,M,36-45,15,2,3,0,20,NaN,NaN,473,105
550050,1006012,P00371644,M,36-45,15,2,4+,1,20,NaN,NaN,368,16
550051,1006013,P00375436,F,26-35,20,2,3,0,20,NaN,NaN,489,75
550052,1006016,P00375436,M,46-50,1,1,1,1,20,NaN,NaN,239,504
550053,1006017,P00371644,F,36-45,7,1,1,0,20,NaN,NaN,371,18
550054,1006018,P00370293,M,36-45,1,2,3,0,19,NaN,NaN,60,82
550055,1006019,P00372445,M,26-35,0,0,4+,0,20,NaN,NaN,238,54
550056,1006022,P00375436,M,26-35,17,2,4+,0,20,NaN,NaN,254,27
550057,1006023,P00370853,M,26-35,0,2,2,1,19,NaN,NaN,61,88
550058,1006024,P00372445,M,26-35,12,0,0,1,20,NaN,NaN,121,60
550059,1006025,P00370853,F,26-35,1,1,1,0,19,NaN,NaN,48,151
550060,1006026,P00371644,M,36-45,6,2,1,1,20,NaN,NaN,494,47
550061,1006029,P00372445,F,26-35,1,2,1,1,20,NaN,NaN,599,17
550062,1006032,P00372445,M,46-50,7,0,3,0,20,NaN,NaN,473,55
550063,1006033,P00372445,M,51-55,13,1,1,1,20,NaN,NaN,368,36
550064,1006035,P00375436,F,26-35,1,2,3,0,20,NaN,NaN,371,152
550065,1006036,P00375436,F,26-35,15,1,4+,1,20,NaN,NaN,137,514
550066,1006038,P00375436,F,55+,1,2,2,0,20,NaN,NaN,365,12
550067,1006039,P00371644,F,46-50,0,1,4+,1,20,NaN,NaN,490,74

In [77]:
train_City_cate = pd.get_dummies(train['City_Category'])

In [81]:
train = pd.concat([train, train_City_cate], axis=1)

In [82]:
train

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,ID_count,0,1,2
0,1000001,P00069042,F,0-17,10,0,2,0,3,NaN,NaN,8370,35,1,0,0
1,1000001,P00248942,F,0-17,10,0,2,0,1,6.0,14.0,15200,35,1,0,0
2,1000001,P00087842,F,0-17,10,0,2,0,12,NaN,NaN,1422,35,1,0,0
3,1000001,P00085442,F,0-17,10,0,2,0,12,14.0,NaN,1057,35,1,0,0
4,1000002,P00285442,M,55+,16,2,4+,0,8,NaN,NaN,7969,77,0,0,1
5,1000003,P00193542,M,26-35,15,0,3,0,1,2.0,NaN,15227,29,1,0,0
6,1000004,P00184942,M,46-50,7,1,2,1,1,8.0,17.0,19215,14,0,1,0
7,1000004,P00346142,M,46-50,7,1,2,1,1,15.0,NaN,15854,14,0,1,0
8,1000004,P0097242,M,46-50,7,1,2,1,1,16.0,NaN,15686,14,0,1,0
9,1000005,P00274942,M,26-35,20,0,1,1,8,NaN,NaN,7871,106,1,0,0
10,1000005,P00251242,M,26-35,20,0,1,1,5,11.0,NaN,5254,106,1,0,0
11,1000005,P00014542,M,26-35,20,0,1,1,8,NaN,NaN,3957,106,1,0,0
12,1000005,P00031342,M,26-35,20,0,1,1,8,NaN,NaN,6073,106,1,0,0
13,1000005,P00145042,M,26-35,20,0,1,1,1,2.0,5.0,15665,106,1,0,0
14,1000006,P00231342,F,51-55,9,0,1,0,5,8.0,14.0,5378,47,1,0,0
15,1000006,P00190242,F,51-55,9,0,1,0,4,5.0,NaN,2079,47,1,0,0
16,1000006,P0096642,F,51-55,9,0,1,0,2,3.0,4.0,13055,47,1,0,0
17,1000006,P00058442,F,51-55,9,0,1,0,5,14.0,NaN,8851,47,1,0,0
18,1000007,P00036842,M,36-45,1,1,1,1,1,14.0,16.0,11788,17,0,1,0
19,1000008,P00249542,M,26-35,12,2,4+,1,1,5.0,15.0,19614,77,0,0,1
20,1000008,P00220442,M,26-35,12,2,4+,1,5,14.0,NaN,8584,77,0,0,1
21,1000008,P00156442,M,26-35,12,2,4+,1,8,NaN,NaN,9872,77,0,0,1
22,1000008,P00213742,M,26-35,12,2,4+,1,8,NaN,NaN,9743,77,0,0,1
23,1000008,P00214442,M,26-35,12,2,4+,1,8,NaN,NaN,5982,77,0,0,1
24,1000008,P00303442,M,26-35,12,2,4+,1,1,8.0,14.0,11927,77,0,0,1
25,1000009,P00135742,M,26-35,17,2,0,0,6,8.0,NaN,16662,58,0,0,1
26,1000009,P00039942,M,26-35,17,2,0,0,8,NaN,NaN,5887,58,0,0,1
27,1000009,P00161442,M,26-35,17,2,0,0,5,14.0,NaN,6973,58,0,0,1
28,1000009,P00078742,M,26-35,17,2,0,0,5,8.0,14.0,5391,58,0,0,1
29,1000010,P00085942,F,36-45,1,1,4+,1,2,4.0,8.0,16352,223,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,2,2,1,20,NaN,NaN,596,103,0,0,1
550039,1005996,P00371644,F,26-35,0,1,1,1,20,NaN,NaN,595,329,0,1,0
550040,1005997,P00370853,F,26-35,7,0,3,0,19,NaN,NaN,26,29,1,0,0
550041,1006000,P00371644,M,46-50,17,1,2,1,20,NaN,NaN,488,281,0,1,0
550042,1006002,P00371644,M,51-55,0,2,1,1,20,NaN,NaN,243,182,0,0,1
550043,1006003,P00370293,F,46-50,17,2,1,0,19,NaN,NaN,48,150,0,0,1
550044,1006004,P00370853,F,26-35,15,2,2,0,19,NaN,NaN,62,34,0,0,1
550045,1006005,P00371644,F,26-35,5,2,2,1,20,NaN,NaN,252,50,0,0,1
550046,1006006,P00375436,F,0-17,0,2,1,0,20,NaN,NaN,236,69,0,0,1
550047,1006009,P00372445,F,26-35,12,2,3,0,20,NaN,NaN,244,32,0,0,1
550048,1006010,P00371644,M,36-45,0,2,1,0,20,NaN,NaN,591,177,0,0,1
550049,1006011,P00375436,M,36-45,15,2,3,0,20,NaN,NaN,473,105,0,0,1
550050,1006012,P00371644,M,36-45,15,2,4+,1,20,NaN,NaN,368,16,0,0,1
550051,1006013,P00375436,F,26-35,20,2,3,0,20,NaN,NaN,489,75,0,0,1
550052,1006016,P00375436,M,46-50,1,1,1,1,20,NaN,NaN,239,504,0,1,0
550053,1006017,P00371644,F,36-45,7,1,1,0,20,NaN,NaN,371,18,0,1,0
550054,1006018,P00370293,M,36-45,1,2,3,0,19,NaN,NaN,60,82,0,0,1
550055,1006019,P00372445,M,26-35,0,0,4+,0,20,NaN,NaN,238,54,1,0,0
550056,1006022,P00375436,M,26-35,17,2,4+,0,20,NaN,NaN,254,27,0,0,1
550057,1006023,P00370853,M,26-35,0,2,2,1,19,NaN,NaN,61,88,0,0,1
550058,1006024,P00372445,M,26-35,12,0,0,1,20,NaN,NaN,121,60,1,0,0
550059,1006025,P00370853,F,26-35,1,1,1,0,19,NaN,NaN,48,151,0,1,0
550060,1006026,P00371644,M,36-45,6,2,1,1,20,NaN,NaN,494,47,0,0,1
550061,1006029,P00372445,F,26-35,1,2,1,1,20,NaN,NaN,599,17,0,0,1
550062,1006032,P00372445,M,46-50,7,0,3,0,20,NaN,NaN,473,55,1,0,0
550063,1006033,P00372445,M,51-55,13,1,1,1,20,NaN,NaN,368,36,0,1,0
550064,1006035,P00375436,F,26-35,1,2,3,0,20,NaN,NaN,371,152,0,0,1
550065,1006036,P00375436,F,26-35,15,1,4+,1,20,NaN,NaN,137,514,0,1,0
550066,1006038,P00375436,F,55+,1,2,2,0,20,NaN,NaN,365,12,0,0,1
550067,1006039,P00371644,F,46-50,0,1,4+,1,20,NaN,NaN,490,74,0,1,0

In [ ]:
#model_xgb_1 = XGBoost(X_train,y,X_test,cv=5,objective="reg:linear",nrounds=500,max.depth=10,eta=0.1,colsample_bytree=0.5,seed=235,metric="rmse",importance=1)